:root {
    --theme-color: #C9A227; /* Default theme color */
    --background-color: #000; /* Default background color for sidebar */
}

* {
    transition: all 0.3s ease-in-out;
}


body {
    font-family: 'Poppins', sans-serif;
    color: var(--theme-color);
    
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

.sidebar {
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for sidebar */
}

.top-bar {
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for top bar */
}



.bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(25, 25, 25, 0.9)), url('../img/bg.jpg') !important;
    background-size: cover !important;
}
/* *****************************   DARK/LIGHT MODE STARTS  ****************************************** */
/* Light Theme (Default) */


/* Theme-specific: Dark Mode */
body.dark-mode {
    background: linear-gradient(rgba(13, 27, 42, 0.9), rgba(27, 38, 59, 0.9)), url('../img/bg.jpg') !important;
    background-size: cover !important;
    color: #C9A227;
}
.dark-mode .bg-img {
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(25, 25, 25, 0.9)), url('../img/bg.jpg') !important;
}

/* Theme-specific: Light Mode */

.light-mode .bg-img {
    background:linear-gradient(rgba(255, 255, 255, 0.9), rgba(250, 250, 250, 0.7)), url('../img/light-bg.png') !important;
    background-size: cover !important;
}
.light-mode .sidebar {
    background: #f8f9fa !important;
    color: #C9A227;
}
.light-mode .dropdown-menu {
    background: #fff !important;
}
.light-mode .dropdown-item {
    color: #C9A227;
}
.light-mode .dropdown-item:hover {
    background: #e2e6ea !important;
    color: #C9A227;
}
.light-mode .top-bar {
    background-color: #e2e6ea !important;
    color: #C9A227;
}
.light-mode .dropdown-toggle {
    color: #C9A227;
}

.light-mode .golden-shadow {
    box-shadow: 0px 0px 15px rgba(201, 162, 39, 0.4) !important;
}

/* *****************************   DARK/LIGHT MODE ENDS  ****************************************** */


/* *****************************   LOGIN PAGE STARTS HERE  ****************************************** */
.animate-logo {
    animation: fadeRight 1.5s ease-in-out;

}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateY(-150px) rotate(-90deg);
    }
    to {
        opacity: 0.9;
        transform: translateY(0) rotate(0deg);       
    }
}
.golden-shadow {
    box-shadow: 0px 0px 15px rgba(201, 162, 39, 0.4);
}
.bg-blur-10 {
    backdrop-filter: blur(10px);
}
.btn-gold {
    background: var(--theme-color);
}
.btn-gold:hover {
    background: #A67C00;
}


/* *****************************   LOGIN PAGE ENDS HERE  ****************************************** 
************************************************************************************************* */


/* *****************************   DASHBOARD PAGE STARTS HERE  ***************************************** */


.dropdown-arrow-right::after {
    transform: rotate(-90deg);  /* Default: Right arrow */
}

 /* When sidebar dropdown is open, rotate arrow downwards 
.dropdown-arrow-right[aria-expanded="true"]::after {
    transform: rotate(0deg);
} */

.dropdown-item {
    color: var(--theme-color) !important;
    text-align: center; 
    padding: 10px !important;
}
.dropdown-item:hover {
    background: var(--theme-color) !important;
    color: #fff !important; /* White text on hover */
}

.card {
    cursor: pointer !important; 
}

.card:hover {
    color: var(--theme-color) !important;
    transform: scale(1.05);
    transition: transform 0.3s ease-in-out;
}
/* *****************************   DASHBOARD PAGE ENDS HERE  **************************************** 
************************************************************************************************** */




/* *****************************   MODAL STYLING FOR NAVBAR**************************************** 
************************************************************************************************** */
.my-modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.my-modal-content {
    background: white;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
}
.my-close {
    cursor: pointer;
    color: red;
    font-size: 30px;
    font-weight: bold;
}

/* *****************************   MODAL STYLING ends **************************************** 
************************************************************************************************** */

.table-warning {
    background-color: #A67C00 !important;
    color: #000 !important;
  }
  
  .table-warning > th,
  .table-warning > td {
    background-color: #A67C00 !important;
    color: #000 !important;
  }
