body {
    /* background: linear-gradient(rgba(13, 27, 42, 0.9), rgba(27, 38, 59, 0.9)), url('../img/bg.jpg') !important;
    background-size: cover !important; */

    font-family: 'Poppins', sans-serif;
    color: #C9A227;
}

.bg-img {
    background: linear-gradient(rgba(13, 27, 42, 0.9), rgba(27, 38, 59, 0.9)), url('../img/bg.jpg') !important;
    background-size: cover !important;
}

/* *****************************   LOGIN PAGE STARTS HERE  ****************************************** */
.animate-logo {
    animation: fadeRight 1.5s ease-in-out;

}

@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateY(-150px) rotate(-90deg);
    }
    to {
        opacity: 0.9;
        transform: translateY(0) rotate(0deg);       
    }
}
.golden-shadow {
    box-shadow: 0px 0px 15px rgba(201, 162, 39, 0.4);
}
.bg-blur-10 {
    backdrop-filter: blur(10px);
}
.btn-gold {
    background: #C9A227;
}
.btn-gold:hover {
    background: #A67C00;
}

/* *****************************   LOGIN PAGE ENDS HERE  ****************************************** 
************************************************************************************************* */


/* *****************************   DASHBOARD PAGE STARTS HERE  ***************************************** */
.content {
    background: none !important;
}

.dropdown-arrow-right::after {
    transform: rotate(-90deg);  /* Default: Right arrow */
}

 /* When sidebar dropdown is open, rotate arrow downwards 
.dropdown-arrow-right[aria-expanded="true"]::after {
    transform: rotate(0deg);
}  */

.dropdown-item {
    color: #C9A227 !important; /* Golden text */
    text-align: center; /* Center text */
    padding: 10px !important;
}
.dropdown-item:hover {
    background: #A67C00 !important; /* Highlight effect */
    color: #fff !important; /* White text on hover */
}

/* .card {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(201, 162, 39, 0.4);
} */

/* *****************************   DASHBOARD PAGE ENDS HERE  **************************************** 
************************************************************************************************** */




/* *****************************   MODAL STYLING **************************************** 
************************************************************************************************** */
.modal {
    display: none;
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background: white;
    width: 600px;
    max-width: 100%;
    border-radius: 10px;
    text-align: center;
}
.close {
    cursor: pointer;
    color: red;
    font-size: 20px;
    font-weight: bold;
}

/* *****************************   MODAL STYLING ends **************************************** 
************************************************************************************************** */
